<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - SIGA-NNH</title>
</head>
<body>

    <center>
        <br><br>
        <h1>¡Bienvenido, {{ user.first_name|default:user.username }}!</h1>
        <p>Has iniciado sesión en el <strong>Sistema SIGA-NNH</strong>.</p>
        
        <hr width="50%">

        <div>
            {% if request.user.empleado.rol == 'director' %}
                <p><strong>Panel de Control disponible:</strong></p>
                <a href="{% url 'lista_empleados' %}">
                <button>Ver Lista de Empleados</button>     
                </a>
            {% else %}
                <p>
                    Tu perfil no tiene permisos de administrador para ver la base de datos.
                </p>
            {% endif %}
            {% if request.user.empleado.rol == 'director' %}
                <a href="{% url 'crear_empleado' %}">
                <button>Agregar Empleado</button>
                </a>
            {% endif %}
        </div>

        <br><br>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
        
        <hr width="50%">
    </center>

</body>
</html>
