<h2>Datos del Empleado</h2>

<p><strong>Nombre:</strong> {{ empleado.nombre }} {{ empleado.apellido_paterno }} {{ empleado.apellido_materno }}</p>
<p><strong>RFC:</strong> {{ empleado.rfc }}</p>
<p><strong>CURP:</strong> {{ empleado.curp }}</p>
<p><strong>Sexo:</strong> {{ empleado.sexo }}</p>
<p><strong>Fecha de Nacimiento:</strong> {{ empleado.fecha_nacimiento }}</p>
<p><strong>Dirección:</strong> {{ empleado.direccion }}</p>
<p><strong>Rol:</strong> {{ empleado.rol }}</p>
<p><strong>Fecha de registro:</strong> {{ empleado.fecha_registro }}</p>


<div style="margin-top: 20px; display: flex; gap: 10px;">
    <a href="{% url 'editar_empleado' empleado.id %}" style="background-color: #0d6efd; color: white; padding: 8px 15px; text-decoration: none; border-radius: 5px;">Editar</a>
    
    <a href="{% url 'revocar_acceso' empleado.id %}" style="background-color: #ffc107; color: black; padding: 8px 15px; text-decoration: none; border-radius: 5px;">Revocar Acceso</a>
    
    <a href="{% url 'eliminar_persona' empleado.id %}" style="background-color: #dc3545; color: white; padding: 8px 15px; text-decoration: none; border-radius: 5px;">Eliminar</a>
</div>